/* Answer 1 */
.card1 {
  max-width: 400px;
  border: 1px solid darkgray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.inputField-style1 {
  padding: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.textArea-style1 {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.card1 button {
  background-color: rgb(95, 90, 90);
  border: 1px solid rgb(95, 90, 90);
  border-radius: 3px;
  color: white;
  padding: 3px;
}

/* Answer 2 */
.card2 {
  width: 300px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.labble-style1 {
  font-weight: bold;
}
.input-style2 {
  padding: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.card2 p {
  color: #0d6efd;
}

.card2 button {
  background-color: #0d6efd;
  color: white;
  border: #0d6efd;
  border-radius: 3px;
  padding: 7px 58px;
}

/* Answer 3 */
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.card3 ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 25px;
  margin-bottom: 30px;
}

.card3 li {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.card3 li.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
